<!doctype html>
<html lang="en">
  <head>
    <title>Random</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Your random number is <%= randomNumber %></h1>
    <% if(randomNumber % 2 === 0 ) { %>
    <h2>This is an even number</h2>
    <% } else { %>
    <h2>This is an odd number</h2>
    <%} %>
  </body>
</html>
