<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Comments page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Comments</h1>
    <div>
      <ul>
  <% for(let c of inMemoryDb) { %>
<li><%= c.comment %> - <b><%=c.username %></b>        </li>

          <a href="/comments/<%= c.id %>">Details</a>
          <a href="/comments/<%= c.id %>/edit">Edit</a>
 <% } %>
      </ul>
    </div>
        <div>

<a href="/comments/new">New comment</a>
        </div>
  </body>
</html>
