body{
    margin: 0;
}

div {
    background-color: violet;
    width: 200px;
}

h1 {
    background-color: antiquewhite;
    margin: 0;
}

#one {
    background-color: #bde0fe;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    box-sizing: border-box;
    padding-left: 30px;
    padding-top: 50px;
    margin: 50px 50px
}

#two {
    background-color: #ffb703;
    border-color:#bde0fe;
    border-width: 3px;
    border-style:  solid dashed;
    border-left-color: #2a9d8f;
    border-left-width: 7px;
}

#three {
 background-color: #2a9d8f;
 border: 4px dotted blue;
 border-radius: 11%;
}

button {
    background-color: #2a9d8f;
    color: white;
    margin-top: 15px;
    padding: 15px 25px 30px 35px;
}