html {
    font-size: 10px;
}

section {
    background-color: #d6ccc2;
    height: 800px;
    width: 800px;
}

div {
    background-color: #a2d2ff;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}

#em article {
    font-size: 20px;
}

h2 {
    font-size: 2em;
    margin-left: 1em;
}
button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
}
h3 {
    font-size: 1.5em;
}

p {
    font-size: 0.5em;
}

ul {
 font-size: 1.5em;
}

#em li {
    font-size: 2em;
}

#rem li {
    font-size: 2rem;
}